<button id="sayHello">Say Hello</button>

<script>
    io.socket.on('hello', function (data) {
        console.log('Socket `' + data.id + '` joined the party!');
    });

    $('#sayHello').click(function (){
        console.log('click')
        // And use `io.socket.get()` to send a request to the server:
        io.socket.get('/say/hello', function gotResponse(data, jwRes) {
            console.log('Server responded with status code ' + jwRes.statusCode + ' and data: ', data);
            $('#responded').append(data.anyData)
        });
    });
</script>

<div id="responded"></div>